body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: Helvetica;
  src: url("/public/Helvetica.ttf");
}

.maintable {
  border-collapse: collapse;
  width: 70%;
}

th,
td {
  border: 1px solid #cdcdcd;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.maintable th {
  background-color: #f2f2f2;
}
.maintable tr:nth-child(even) {
  background-color: #dddddd;
}
